<section class="nes-container with-title align-center">
  <h3 class="title">Waiting for fighters!...</h3>
  <h2>Choose your fighters!</h2>

  <div class="versus">
    <%= image_tag @fighter1 ? image_url(@fighter1.image) : blank_image, size: "100x100", class: "nes-avatar is-bordered is-large" %>
    VS
    <%= image_tag @fighter2 ? image_url(@fighter2.image) : blank_image, size: "100x100", class: "nes-avatar is-bordered is-large" %>
  </div>

  <div>
    <% if @selected_fighters.size > 0 %>
      <%= link_to "Cancel", fight_path(@fight), method: "delete", class: "nes-btn" %>
    <% end %>
    <% if @selected_fighters.size == 2 && !@fight.fighters.include?(nil) %>
      <%= link_to "Start", fight_path(@fight, start: "true"), method: "patch", class: "nes-btn is-error" %>
    <% end %>
  </div>
</section>

<section class="nes-container with-title">
  <h3 class="title">Fighters <%= link_to "(Edit)", admin_fighters_path %></h3>
  <div class="flex-container">
    <%= render partial: "fighter", collection: @fighters %>
  </div>
</section>
