<% if position == :right %>
  <span class="fight-step__hand"><%= hand %></span>
<% end %>
<%= image_tag_or_blank fighter.image, size: "100x100", class: "nes-avatar is-bordered is-large" %>
<% if position == :left %>
  <span class="fight-step__hand"><%= hand %></span>
<% end %>
<div>
  <%= damage_description(fighter, damage_points) %>
</div>
Remaining life: <%= [remaining_life_points - damage_points, 0].max %>
