<section class="nes-container with-title align-center">
  <h3 class="title">Step <%= params[:id] %></h3>
  <div class="flex-container fight-step__description">
    <div>
      <%= render partial: "action", locals: { fighter: @fighters[0],
                                              hand: @step.hands[0],
                                              damage_points: @step.damage_points[0],
                                              remaining_life_points: @step.remaining_life_points[0],
                                              position: :left } %>
    </div>
    <div>
      <p>
        <% if @step.damage_points == [0, 0] %>
          DRAW
        <% elsif @step.damage_points[1].positive? %>
          ATTACK -&gt;
        <% else %>
          &lt;- ATTACK
        <% end %>
      </p>
    </div>
    <div>
      <%= render partial: "action", locals: { fighter: @fighters[1],
                                              hand: @step.hands[1],
                                              damage_points: @step.damage_points[1],
                                              remaining_life_points: @step.remaining_life_points[1],
                                              position: :right } %>
    </div>
  </div>

  <% if @is_last_step %>
    <div class="fight-step__result">
      <% if @fight.winner %>
        <%= render partial: "winner", locals: { winner: @fight.winner } %>
      <% else %>
        <%= render partial: "draw" %>
      <% end %>
    </div>
  <% end %>

  <% if @is_last_step %>
    <div><%= link_to "Back to arena", root_path, class: "nes-btn" %></div>
  <% else %>
    <div><%= link_to "Next", fight_step_path(@fight.id, params[:id].to_i + 1), class: "nes-btn is-primary next" %></div>
  <% end %>
</div>
