<%= form_with(model: [:admin, fighter], local: true, class: "nes-container with-title") do |form| %>
  <h3 class="title">Fighter</h3>
  <% if fighter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

      <ul>
        <% fighter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="nes-field">
    <strong><%= form.label :name %></strong>
    <%= form.text_field :name, class: "nes-input" %>
  </div>

  <div class="nes-field">
    <strong><%= form.label :life_points %></strong>
    <%= form.number_field :life_points, min: 0, max: 10, step: 1, class: "nes-input" %>
  </div>

  <div class="nes-field">
    <strong><%= form.label :attack_points %></strong>
    <%= form.number_field :attack_points, min: 0, max: 10, step: 1, class: "nes-input" %>
  </div>

  <div class="nes-field actions">
    <%= form.submit class: "nes-btn is-primary" %>
  </div>
<% end %>
