<p id="notice"><%= notice %></p>

<h1>Fighters</h1>

<table width="100%">
  <thead>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>LP</strong></td>
      <td><strong>AP</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </thead>

  <tbody>
    <% @fighters.each do |fighter| %>
      <tr>
        <td><strong><%= fighter.name %></strong></td>
        <td><%= fighter.life_points %></td>
        <td><%= fighter.attack_points %></td>
        <td><%= link_to 'Edit', edit_admin_fighter_path(fighter), class: "nes-btn" %></td>
        <td><%= link_to 'Destroy', admin_fighter_path(fighter), method: :delete, data: { confirm: 'Are you sure?' }, class: "nes-btn is-error" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fighter', new_admin_fighter_path, class: "nes-btn" %>
-
<%= link_to 'Back to arena', root_path, class: "nes-btn" %>
